li{
    border: 1px solid black;
    margin: 10px;
    padding-left: 5px;
    width: 100px;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    color:white;
    background-color:red;
}


/* Outra forma
 .normal{
    color:white;
    background-color:red;
}

.ratoCima{
    color:red;
    background-color:white;
} 
*/